body { background: #f5d2b7; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 58px; display: flex; }
.block-payment-0 { color: #f6f647; font-size: 18px; margin-bottom: 5px; }
.block-filter-1 { color: #f8178e; font-size: 12px; margin-bottom: 5px; }
.block-cluster-2 { color: #d2a349; font-size: 13px; margin-bottom: 5px; }
.block-cart-3 { color: #8ec470; font-size: 16px; margin-bottom: 5px; }
.block-helper-4 { color: #a6c510; font-size: 18px; margin-bottom: 5px; }
.block-config-5 { color: #8dd47; font-size: 14px; margin-bottom: 5px; }